@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  max-width: 320px;
}

.loder {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: #fff url(../images/loader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.loActive {
  opacity: 0;
  pointer-events: none;
}

#register {
  width: 100%;
  padding-top: 35px;
  height: 100vh;
}

.logo {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
}

.logo img {
  width: 25%;
}

.logo .logoDC {
  margin-top: -20px;
}

.logo .logoDC p {
  font-size: 0.9rem;
}

.reg_input {
  width: 100%;
  padding-left: 12px;
}

.reg_input .st_input {
  position: relative;
  margin-bottom: 20px;
}

.reg_input .st_input input {
  outline: none;
  border: 1.5px solid #ddd;
  width: 295px;
  height: 40px;
  border-radius: 19px;
  padding-left: 18px;
  font-size: 0.9rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reg_input .st_input input:focus + .label_name .contant_name {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  color: #f03030;
  background-color: white;
}

.reg_input .st_input input:valid ~ .label_name .contant_name {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.reg_input .st_input input:focus {
  border: 2px solid #f03030;
}

.reg_input .st_input span {
  position: absolute;
  top: 7px;
  left: 21px;
  font-size: 0.9rem;
  color: #a1a1a1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  pointer-events: none;
}

.reg_net .reg-button button {
  width: 90%;
  background-color: #f03030;
  color: white;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 10px;
  display: block;
  margin: auto;
  opacity: 0.6;
  pointer-events: none;
}

.reg_net .reg-button .ButtonActive {
  opacity: 1;
  pointer-events: all;
}

.reg_net .reg_DC {
  text-align: center;
  margin-top: 20px;
}

.reg_net .reg_DC p {
  font-size: 0.8rem;
}

.reg_net .reg_DC p a {
  color: #f03030;
}

.passwordSection {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 1500px;
  z-index: 9;
  background-color: white;
  padding-top: 35px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.passwordSection .st_input {
  position: relative;
  margin-bottom: 20px;
  margin-left: 15px;
}

.passwordSection .st_input input {
  outline: none;
  border: 1.5px solid #ddd;
  width: 290px;
  height: 40px;
  border-radius: 19px;
  padding-left: 18px;
  font-size: 0.9rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.passwordSection .st_input input:focus + .label_name .contant_name {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  color: #f03030;
  background-color: white;
}

.passwordSection .st_input input:valid ~ .label_name .contant_name {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.passwordSection .st_input input:focus {
  border: 2px solid #f03030;
}

.passwordSection .st_input i {
  position: absolute;
  top: 10px;
  right: 28px;
  width: 20px;
  height: 20px;
}

.passwordSection .st_input span {
  position: absolute;
  top: 7px;
  left: 21px;
  font-size: 0.9rem;
  color: #a1a1a1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  pointer-events: none;
}

.passwordSection .reg-button button {
  width: 90%;
  background-color: #f03030;
  color: white;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 10px;
  display: block;
  margin: auto;
  opacity: 0.6;
}

.passActive {
  left: 0px;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

#home_page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -1500px;
  left: 0px;
  z-index: 55;
  background-color: white;
  overflow: scroll;
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  overflow: scroll;
}

.home_header {
  background-color: #fff0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 140px;
}

.home_header .bar_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_header .bar_wrapper .bar {
  width: 40px;
  padding-top: 7px;
}

.home_header .bar_wrapper .bar .line1 {
  width: 45%;
  height: 2px;
  background-color: #8b1014;
  margin-bottom: 3px;
  border-radius: 19px;
}

.home_header .bar_wrapper .bar .line2 {
  width: 35%;
  height: 2px;
  background-color: #8b1014;
  margin-bottom: 3px;
  border-radius: 19px;
}

.home_header .bar_wrapper .bar .line3 {
  width: 45%;
  height: 2px;
  background-color: #8b1014;
  margin-bottom: 3px;
  border-radius: 19px;
}

.home_header .bar_wrapper p {
  margin-top: 5px;
}

.home_header .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_header .help i {
  font-size: 16px;
  margin-top: 7px;
  color: #f03030;
}

.home_header .help p {
  font-size: 18px;
  color: #f03030;
}

.home_body {
  width: 280px;
  margin: auto;
}

.body_wrapper {
  -webkit-box-shadow: 4px 6px 23px 0px #0000001f;
          box-shadow: 4px 6px 23px 0px #0000001f;
}

.part1 {
  background-color: #ff8800;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -1;
}

.part1::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  left: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ff8800;
  z-index: 4;
}

.part1 .p1icon {
  margin-right: 10px;
}

.part1 .p1icon i {
  color: white;
  font-size: 19px;
  margin-top: 15px;
  margin-left: 8px;
}

.part1 .p1DC {
  width: 238px;
  line-height: 18px;
  padding: 10px 0px;
}

.part1 .p1DC p {
  color: white;
  font-size: 16px;
}

.part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.part2 .p2icon i {
  font-size: 19px;
  margin-top: 15px;
  margin-left: 8px;
}

.part2 .p2DC {
  width: 230px;
  line-height: 18px;
  padding: 10px 0px;
}

.part2 .p2DC p {
  font-size: 16px;
}

.part3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part3 .p3icon i {
  font-size: 19px;
  margin-top: 6px;
  margin-left: 8px;
}

.part3 .p3DC {
  width: 238px;
  line-height: 18px;
  padding: 10px 0px;
}

.part3 .p3DC p {
  font-size: 16px;
}

.part4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  width: 150px;
  margin: auto;
  position: relative;
  z-index: -1;
}

.part4:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  bottom: -10px;
  right: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.part4 .p4icon i {
  font-size: 19px;
  margin-top: 6px;
  margin-left: 8px;
}

.part4 .p4DC {
  width: 238px;
  line-height: 18px;
  padding: 10px 0px;
}

.part4 .p4DC p {
  font-size: 16px;
}

.customer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.customer_wrapper .add_customer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-color: #f03030;
  color: white;
  width: 160px;
  border-radius: 40px;
}

.customer_wrapper .add_customer i {
  margin-top: 5px;
  margin-right: 7px;
}

.rege-button {
  margin: auto;
}

.rege-button button {
  width: 90%;
  background-color: #f03030;
  color: white;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 10px;
  display: block;
  margin: auto;
  opacity: 0.6;
  pointer-events: none;
}

.rege-button .nis_active {
  pointer-events: all;
  opacity: 1;
}

.footer {
  background-color: #c4161c;
  color: white;
  padding-top: 15px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  margin-top: 24%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  z-index: -1;
}

.footer .footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.footer .footer_wrapper .tali {
  width: 106px;
}

.footer .footer_wrapper .tali .tali_icon i {
  font-size: 18px;
}

.footer .footer_wrapper .cash {
  width: 106px;
}

.footer .footer_wrapper .cash .cash_icon i {
  font-size: 18px;
}

.footer .footer_wrapper .inbox {
  width: 106px;
}

.footer .footer_wrapper .inbox .inbox_icon i {
  font-size: 18px;
}

.nav_bar1 {
  width: 70%;
  position: fixed;
  top: 0px;
  left: -1500px;
  -webkit-transition: all 0.5s cubic-bezier(0, -0.01, 0, 0.99);
  transition: all 0.5s cubic-bezier(0, -0.01, 0, 0.99);
}

.nav_bar1 .left_part {
  width: 100%;
  background-color: white;
  height: 100vh;
  overflow: scroll;
}

.nav_bar1_active {
  left: 0px;
  -webkit-transition: all 0.5s cubic-bezier(0, -0.01, 0, 0.99);
  transition: all 0.5s cubic-bezier(0, -0.01, 0, 0.99);
  z-index: 1;
}

.nav_bar_back {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.219);
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav_bar_back_active {
  pointer-events: all;
  visibility: visible;
  -webkit-transition: .6s;
  transition: .6s;
}

.nav_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 20px;
}

.nav_head .nav_name_logo {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 100%;
}

.nav_head .nav_edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.nav_lists {
  padding: 20px;
}

.nav_lists p {
  color: #f03030;
  font-size: 16px;
}

.nav_lists ul li {
  font-size: 16px;
  list-style-type: none;
  line-height: 40px;
}

@media (max-width: 320px) {
  body {
    max-width: 320px;
  }
  .loder {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background: #fff url(../images/loader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .loActive {
    opacity: 0;
    pointer-events: none;
  }
  #register {
    width: 100%;
    padding-top: 35px;
    height: 100vh;
  }
  .logo {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .logo img {
    width: 25%;
  }
  .logo .logoDC {
    margin-top: -20px;
  }
  .logo .logoDC p {
    font-size: 0.9rem;
  }
  .reg_input {
    width: 100%;
    padding-left: 12px;
  }
  .reg_input .st_input {
    position: relative;
    margin-bottom: 20px;
  }
  .reg_input .st_input input {
    outline: none;
    border: 1.5px solid #ddd;
    width: 295px;
    height: 40px;
    border-radius: 19px;
    padding-left: 18px;
    font-size: 0.9rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .reg_input .st_input input:focus + .label_name .contant_name {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    color: #f03030;
    background-color: white;
  }
  .reg_input .st_input input:valid ~ .label_name .contant_name {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .reg_input .st_input input:focus {
    border: 2px solid #f03030;
  }
  .reg_input .st_input span {
    position: absolute;
    top: 7px;
    left: 21px;
    font-size: 0.9rem;
    color: #a1a1a1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: white;
    pointer-events: none;
  }
  .reg_net .reg-button button {
    width: 90%;
    background-color: #f03030;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 10px;
    display: block;
    margin: auto;
    opacity: 0.6;
    pointer-events: none;
  }
  .reg_net .reg-button .ButtonActive {
    opacity: 1;
    pointer-events: all;
  }
  .reg_net .reg_DC {
    text-align: center;
    margin-top: 20px;
  }
  .reg_net .reg_DC p {
    font-size: 0.8rem;
  }
  .reg_net .reg_DC p a {
    color: #f03030;
  }
  .passwordSection {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 1500px;
    z-index: 9;
    background-color: white;
    padding-top: 35px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .passwordSection .st_input {
    position: relative;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  .passwordSection .st_input input {
    outline: none;
    border: 1.5px solid #ddd;
    width: 290px;
    height: 40px;
    border-radius: 19px;
    padding-left: 18px;
    font-size: 0.9rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .passwordSection .st_input input:focus + .label_name .contant_name {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    color: #f03030;
    background-color: white;
  }
  .passwordSection .st_input input:valid ~ .label_name .contant_name {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .passwordSection .st_input input:focus {
    border: 2px solid #f03030;
  }
  .passwordSection .st_input i {
    position: absolute;
    top: 10px;
    right: 28px;
    width: 20px;
    height: 20px;
  }
  .passwordSection .st_input span {
    position: absolute;
    top: 7px;
    left: 21px;
    font-size: 0.9rem;
    color: #a1a1a1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: white;
    pointer-events: none;
  }
  .passwordSection .reg-button button {
    width: 90%;
    background-color: #f03030;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 10px;
    display: block;
    margin: auto;
    opacity: 0.6;
  }
  .passActive {
    left: 0px;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
  }
  #home_page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -1500px;
    left: 0px;
    z-index: 55;
    background-color: white;
    overflow: scroll;
    -webkit-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
    overflow: scroll;
  }
  .home_header {
    background-color: #fff0f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 10px;
    margin-bottom: 140px;
  }
  .home_header .bar_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home_header .bar_wrapper .bar {
    width: 40px;
    padding-top: 7px;
  }
  .home_header .bar_wrapper .bar .line1 {
    width: 45%;
    height: 2px;
    background-color: #8b1014;
    margin-bottom: 3px;
    border-radius: 19px;
  }
  .home_header .bar_wrapper .bar .line2 {
    width: 35%;
    height: 2px;
    background-color: #8b1014;
    margin-bottom: 3px;
    border-radius: 19px;
  }
  .home_header .bar_wrapper .bar .line3 {
    width: 45%;
    height: 2px;
    background-color: #8b1014;
    margin-bottom: 3px;
    border-radius: 19px;
  }
  .home_header .bar_wrapper p {
    margin-top: 5px;
  }
  .home_header .help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home_header .help i {
    font-size: 16px;
    margin-top: 7px;
    color: #f03030;
  }
  .home_header .help p {
    font-size: 18px;
    color: #f03030;
  }
  .home_body {
    width: 280px;
    margin: auto;
  }
  .body_wrapper {
    -webkit-box-shadow: 4px 6px 23px 0px #0000001f;
            box-shadow: 4px 6px 23px 0px #0000001f;
  }
  .part1 {
    background-color: #ff8800;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: -1;
  }
  .part1::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -10px;
    left: 20px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #ff8800;
    z-index: 4;
  }
  .part1 .p1icon {
    margin-right: 10px;
  }
  .part1 .p1icon i {
    color: white;
    font-size: 19px;
    margin-top: 15px;
    margin-left: 8px;
  }
  .part1 .p1DC {
    width: 238px;
    line-height: 18px;
    padding: 10px 0px;
  }
  .part1 .p1DC p {
    color: white;
    font-size: 16px;
  }
  .part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  .part2 .p2icon i {
    font-size: 19px;
    margin-top: 15px;
    margin-left: 8px;
  }
  .part2 .p2DC {
    width: 230px;
    line-height: 18px;
    padding: 10px 0px;
  }
  .part2 .p2DC p {
    font-size: 16px;
  }
  .part3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .part3 .p3icon i {
    font-size: 19px;
    margin-top: 6px;
    margin-left: 8px;
  }
  .part3 .p3DC {
    width: 238px;
    line-height: 18px;
    padding: 10px 0px;
  }
  .part3 .p3DC p {
    font-size: 16px;
  }
  .part4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    width: 150px;
    margin: auto;
    position: relative;
    z-index: -1;
  }
  .part4:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    bottom: -10px;
    right: -10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .part4 .p4icon i {
    font-size: 19px;
    margin-top: 6px;
    margin-left: 8px;
  }
  .part4 .p4DC {
    width: 238px;
    line-height: 18px;
    padding: 10px 0px;
  }
  .part4 .p4DC p {
    font-size: 16px;
  }
  .customer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .customer_wrapper .add_customer {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    background-color: #f03030;
    color: white;
    width: 160px;
    border-radius: 40px;
  }
  .customer_wrapper .add_customer i {
    margin-top: 5px;
    margin-right: 7px;
  }
  .rege-button {
    margin: auto;
  }
  .rege-button button {
    width: 90%;
    background-color: #f03030;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 10px;
    display: block;
    margin: auto;
    opacity: 0.6;
    pointer-events: none;
  }
  .rege-button .nis_active {
    pointer-events: all;
    opacity: 1;
  }
  .footer {
    background-color: #c4161c;
    color: white;
    padding-top: 15px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    margin-top: 24%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    z-index: -1;
  }
  .footer .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }
  .footer .footer_wrapper .tali {
    width: 106px;
  }
  .footer .footer_wrapper .tali .tali_icon i {
    font-size: 18px;
  }
  .footer .footer_wrapper .cash {
    width: 106px;
  }
  .footer .footer_wrapper .cash .cash_icon i {
    font-size: 18px;
  }
  .footer .footer_wrapper .inbox {
    width: 106px;
  }
  .footer .footer_wrapper .inbox .inbox_icon i {
    font-size: 18px;
  }
  .nav_bar1 {
    width: 70%;
    position: fixed;
    top: 0px;
    left: -1500px;
    -webkit-transition: all 0.5s cubic-bezier(0, -0.01, 0, 0.99);
    transition: all 0.5s cubic-bezier(0, -0.01, 0, 0.99);
  }
  .nav_bar1 .left_part {
    width: 100%;
    background-color: white;
    height: 100vh;
    overflow: scroll;
  }
  .nav_bar1_active {
    left: 0px;
    -webkit-transition: all 0.5s cubic-bezier(0, -0.01, 0, 0.99);
    transition: all 0.5s cubic-bezier(0, -0.01, 0, 0.99);
    z-index: 1;
  }
  .nav_bar_back {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.219);
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    visibility: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .nav_bar_back_active {
    pointer-events: all;
    visibility: visible;
    -webkit-transition: .6s;
    transition: .6s;
  }
  .nav_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 20px;
  }
  .nav_head .nav_name_logo {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 100%;
  }
  .nav_head .nav_edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
  .nav_lists {
    padding: 20px;
  }
  .nav_lists p {
    color: #f03030;
    font-size: 16px;
  }
  .nav_lists ul li {
    font-size: 16px;
    list-style-type: none;
    line-height: 40px;
  }
  .add_customer_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f8d2d4;
    padding: 10px 5px;
  }
  .add_customer_header .customer_sec_back {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 30px;
  }
  .add_customer_header .customer_sec_back i {
    width: 100%;
  }
  .add_customer_header .arrow_text p {
    font-size: 18px;
  }
  .add_customer_sec {
    position: fixed;
    top: 0px;
    left: 1500px;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  .add_customer_sec_active {
    left: 0px;
  }
  .add_customer_select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
    background: #0000000d;
    margin-bottom: 20px;
  }
  .add_customer_select .add_part1 {
    width: 150px;
    text-align: center;
  }
  .add_customer_select .add_part1 p {
    width: 100%;
  }
  .add_customer_select .add_part2 {
    width: 150px;
    text-align: center;
  }
  .add_customer_select .add_part2 p {
    width: 100%;
  }
  .input_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input_data .data_input1 {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
  }
  .input_data .data_input1 input {
    outline: none;
    border: 1.5px solid #ddd;
    width: 290px;
    height: 40px;
    border-radius: 19px;
    padding-left: 18px;
    font-size: 0.9rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .input_data .data_input1 input:focus + .label_name .contant_name {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    color: #f03030;
    background-color: white;
  }
  .input_data .data_input1 input:valid ~ .label_name .contant_name {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .input_data .data_input1 input:focus {
    border: 2px solid #f03030;
  }
  .input_data .data_input1 span {
    position: absolute;
    top: 7px;
    left: 21px;
    font-size: 0.9rem;
    color: #a1a1a1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: white;
    pointer-events: none;
  }
}
/*# sourceMappingURL=style.css.map */